 {% load static %}
    {% load sender_tags %}
    {% load sender_filters %}
    {% load user_agents %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        {% if not object_list %}
        <div class="col-lg-8 col-xl-9 col-md-12 col-sm-12 col-12 mb-3 text-center">
            <h5 class="lead">
                <strong>У Вас пока нет рассылок. Вы можете создать рассылки с периодичностью отправки ежедневно,
               несколько раз в неделю, несколько раз в месяц и добавлять к ним неограниченное количество писем</strong>
            </h5>
        </div>
        {% elif object_list %}
        <div class="col-lg-8 col-xl-9 col-md-12 col-sm-12 col-12">
            <div class="card border-0 mx-auto">
                {% if perms.sender.view_and_ban_any_mailing %}
                <div class="card-header bg-transparent d-flex justify-content-center">
                     <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-7 col-7">
                            <input class="form-control" id="inputSearchUserCards" onclick="resetColor(this)" placeholder="Введите username" list="UserNames">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 px-0">
                            <div class="row">
                                <div class="{% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}col-9{% else %}col-10{% endif %}">
                                    <button class="btn btn-outline-success" onclick="showSearchedUserCard()">
                                    {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
                                        <strong>Фильтр</strong>
                                    {% else %}
                                        <strong>Фильтровать</strong>
                                    {% endif %}
                                    </button>
                                </div>
                                 <div class="{% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}col-3{% else %}col-2{% endif %}">
                                    <button type="button" class="filter-reset btn btn-primary mt-1 px-1 pb-1 py-0 h-75
                                            {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}mx-0{% else %}mx-3{% endif %}" onclick="showAllUserCards()">
                                        <img src="{% static 'img/filter-reset.png' %}" title="Сбросить">
                                    </button>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                {% endif %}
              <div class="card-header px-0 py-0 td-table-info">
                   <div class="row td-table-info mb-0 mx-0 py-2">
                   {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
                        <div class="col-6">
                            <strong>Название</strong>
                        </div>
                   {% else %}
                       <div class="col-4">
                            <strong>Название</strong>
                        </div>
                   {% endif %}
                   {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                        <div class="col-3">
                            <strong>График</strong>
                        </div>
                   {% endif %}
                    {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
                        <div class="col-6">
                            <strong>Готовность</strong>
                        </div>
                    {% else %}
                        <div class="col-4">
                            <strong>Готовность</strong>
                        </div>
                        <div class="col-1">
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div class="card-body px-0 py-0">
                {% for object in object_list %}
                    <div class="username-card card" title="{{ object.user.email|cutemail }}" style="border-radius: 0">
                        <div class="card-body py-0 px-0">
                            <div class="row my-0 mx-0 py-2{% if object.status == status_mailing_done %} bg-light
                                                            {% elif object.banned == ban_mailing_true %} td-table-danger
                                                            {% elif object.periodicity == period_mailing_week and not object.weekdays %} td-table-danger
                                                            {% elif object.periodicity == period_mailing_month and not object.monthdates %} td-table-danger
                                                            {% elif not object.mail_dump %} td-table-danger
                                                            {% elif not object.from_email %} td-table-danger
                                                            {% elif not object.password_from_email %} td-table-danger
                                                            {% else %} td-table-info
                                                            {% endif %}">

                                    <div class="{% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}col-6
                                        {% else %}col-4
                                        {% endif %}">
                                    <a class="username-link-card"
                                        {% if not perms.sender.view_and_ban_any_mailing %}href="{{ object.get_absolute_url }}"
                                        {% else %}href="{% url 'sender:mailing_detail_moderating' object.pk %}"{% endif %}>
                                        {{ object.title }}
                                    </a>
                                    {% if perms.sender.view_and_ban_any_mailing %}
                                        <span>
                                            <br><img src="{% static 'img/user.png' %}"> {{ object.user.email|cutemail }}
                                            <datalist id="UserNames">{{ object.user.email|cutemail }}</datalist>
                                           {{ object.user.first_name }} {{ object.user.laste_name }}
                                        </span>
                                    {% endif %}
                                </div>
                               {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                                <div class="col-3">
                                    {{ object.periodicity }}
                                </div>
                                {% endif %}
                                <div class="{% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}col-6
                                {% else %}col-4
                                {% endif %}">
                                    {% if object.status == status_mailing_done %} Рассылка завершена
                                    {% elif object.banned == ban_mailing_true %} <strong>{{ object.banned }}!</strong>
                                    {% elif object.periodicity == period_mailing_week and not object.weekdays %} Добавьте дни недели рассылки
                                        {% if not perms.sender.view_and_ban_any_mailing %}
                                             <br><a class="update-mailing-detail" href="{% url 'sender:update_weekday' object.pk %}">
                                              <strong><span>Добавить дни</span></strong>
                                            </a>
                                         {% endif %}
                                    {% elif object.periodicity == period_mailing_month and not object.monthdates %} Добавьте даты месяца рассылки
                                        {% if not perms.sender.view_and_ban_any_mailing %}
                                            <br><a class="update-mailing-detail" href="{% url 'sender:update_monthdate' object.pk %}">
                                               <strong><span>Добавить даты</span></strong>
                                            </a>
                                         {% endif %}
                                    {% elif not object.mail_dump %} Загрузите базу мейлов
                                        {% if not perms.sender.view_and_ban_any_mailing %}
                                             <br><a class="update-mailing-detail" href="{% url 'sender:update_mailing' object.pk %}">
                                                <strong><span>Загрузить</span></strong>
                                            </a>
                                         {% endif %}
                                    {% elif not object.from_email %} Добавьте email рассылки
                                         {% if not perms.sender.view_and_ban_any_mailing %}
                                             <br><a class="update-mailing-detail" href="{% url 'sender:update_mailing' object.pk %}">
                                               <strong><span>Добавить</span></strong>
                                            </a>
                                         {% endif %}
                                    {% elif not object.password_from_email %} Укажите пароль от Email
                                        <br><a class="update-mailing-detail" href="{% url 'sender:change_password_email' object.pk %}">
                                        <strong><span>Указать пароль</span></strong>
                                    </a>
                                    {% elif object.status != status_mailing_started %}<strong>Готово к работе!</strong> <br>Email рассылки: {{ object.from_email }}
                                         {% if not perms.sender.view_and_ban_any_mailing %}
                                             <br><a class="update-mailing-detail" href="{% url 'sender:update_mailing' object.pk %}">
                                                <strong><span>Изменить email</span></strong>
                                            </a>
                                         {% endif %}
                                    {% else %}<strong>{{ object.status }} </strong><br> Email рассылки: {{ object.from_email }}
                                         {% if not perms.sender.view_and_ban_any_mailing %}
                                             <br><a class="update-mailing-detail" href="{% url 'sender:update_mailing' object.pk %}">
                                               <strong><span>Изменить email</span></strong>
                                            </a>
                                         {% endif %}
                                    {% endif %}
                                    {% if perms.sender.view_and_ban_any_mailing %}
                                        {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
                                            <div class="col-12">
                                                <a class="float-end update-ban-link" href="{% url 'sender:mailing_ban' object.pk %}">
                                                {% if object.banned == ban_mailing_false %}
                                                    <img src="{% static 'img/banned-on.png' %}" title="Забанить рассылку">
                                                {% elif object.banned == ban_mailing_true %}
                                                    <img src="{% static 'img/banned-off.png' %}" title="Разбанить рассылку">
                                                {% endif %}
                                            </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                                         <div class="col-12">
                                            <a class="username-link-card float-end" {% if not perms.view_and_ban_any_mailing %}href="{% url 'sender:mailing_detail' object.pk %}"
                                               {% else %}href="{% url 'sender:mailing_detail_moderating' object.pk %}"{% endif %} style="text-decoration: unset">
                                                 {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                                                    <img class="mb-2" src="{% static "img/gotomobile.png" %}" title="Перейти в рассылку">
                                                {% else %}
                                                     <img class="mb-2" src="{% static "img/goto.png" %}" title="Перейти в рассылку">
                                                {% endif %}
                                            </a>
                                         </div>
                                        {% if perms.sender.view_and_ban_any_mailing %}
                                        <div class="col-12">
                                            <a class="float-end username-link-card" href="{% url 'sender:mailing_ban' object.pk %}">
                                                {% if object.banned == ban_mailing_false %}
                                                    <img src="{% static 'img/banned-on.png' %}" title="Забанить рассылку">
                                                {% elif object.banned == ban_mailing_true %}
                                                    <img src="{% static 'img/banned-off.png' %}" title="Разбанить рассылку">
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                 </div>
                            </div>
                        </div>
                         {% if not perms.sender.view_and_ban_any_mailing %}
                            {% if object.banned == ban_mailing_true %}
                            <div class="card-footer bg-danger text-light text-center" style="border-radius: 0">
                                <strong>Рассылка заблокирована и осуществляться не будет. <br> На Вашу почту мы выслали причины блокировки и как это исправить</strong>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if not all_mailings %}
        {% if request|is_pc %}
        <div class="col-lg-4 col-xl-3">
            <div class="card mb-5 box-shadow border-dark text-center">
                <div class="card-header bg-warning">
                    <h4 class="my-0 font-weight-normal text-dark">Новая рассылка</h4>
                </div>
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                     <div class="card-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_title">{{ form.title.label }}</label>
                            <input type="text" class="form-control form-control-sm" name="title" maxlength="200" required="" id="id_title">
                            <div class="form-error text-danger">{{  form.title.errors | format_err }}</div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <label>Время <strong>(UTC+2)</strong></label>
                                </div>
                                <div class="col-6">
                                    <select name="hour" class="form-control form-control-sm" id="id_hour">
                                        <option value="12" selected="">12</option>
                                    {% for hour in hours %}
                                        <option value="{{ hour }}">{{ hour }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select name="minute" class="form-control form-control-sm" id="id_minute">
                                        {% for minute in minutes %}
                                            {% if minute < 10 %}
                                            <option value="{{ minute }}">0{{ minute }}</option>
                                            {% else %}
                                            <option value="{{ minute }}">{{ minute }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id_periodicity">{{ form.periodicity.label }}</label>
                                <select name="periodicity" class="form-control form-control-sm" id="id_periodicity">
                                {% for period in periods %}
                                    {% if forloop.first %}
                                        <option value="{{ period|cut:"'" }}" selected="">{{ period|cut:"'" }}</option>
                                    {% else %}
                                        <option value="{{ period|cut:"'" }}">{{ period|cut:"'" }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="form-error text-danger">{{  form.periodicity.errors|format_err }}</div>
                        </div>
                        <div class="mb-3">
                             <label for="id_mail_dump">База рассылки</label>
                            <input type="file" class="form-control form-control-sm" name="mail_dump" id="id_mail_dump">
                            <div class="form-error text-danger">{{  form.mail_dump.errors|format_err }}</div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                        <button type="submit" class="btn btn-outline-primary w-50 mb-3"><strong>Создать</strong></button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% if not all_mailings %}
            {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
            <a class="add-mobile btn btn-primary py-0" href="{% url 'sender:create_mailing_mobile' %}">
                <img class="my-2" src="{% static 'img/add.png' %}">
            </a>
            {% elif request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
            <a class="add-mobile btn btn-primary py-0" href="{% url 'sender:create_mailing_mobile' %}">
                <img class="my-2" src="{% static 'img/add.png' %}">
            </a>
            {% endif %}
        {% endif %}
        {% endif %}
    </div>
</div>