{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}

<head>
  <title>Удаление рассылки</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div class="container position-relative form-imitation-popup-parent py-0">
{% include 'sender/includes/mailing_detail_for_mailing_generics.html' %}
     <div class="card my-5 box-shadow card-form-popup text-center delete-form border-dark border-dark my-5 px-0">
        <div class="card-header bg-warning px-0 border-0">
            <h4 class="header-text-form-popup text-dark my-0 font-weight-normal">Удалить рассылку</h4>
            <a class="close-header-form-popup" href="{% url 'sender:mailing_detail' object.pk %}">
                <img class="icon-close-header-form-popup" src="{% static 'img/close.png' %}">
            </a>
        </div>
        <form class="form-container" method="post" enctype="multipart/form-data">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <span>Вы действительно хотите удалить рассылку</span>
            <span><strong>"{{ object.title }}"</strong> ? <br>Отменить удаление будет невозможно!</span>
            </div>
            <div class="card-footer bg-transparent border-0 mb-2 px-3">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-outline-danger w-100 px-1 border-1" type="submit"><strong>Удалить</strong></button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary w-100 px-1 border-1" href="{% url 'sender:mailing_detail' object.pk %}"><strong>Отмена</strong></a>
                    </div>
                </div>
            </div>
        </form>
     </div>
</div>


{% endblock %}