 {% load static %}

<div class="card border-dark text-center mx-3 login-register-reset-form">
    <div class="card-header bg-warning px-0 d-flex">
        <h4 class="header-text-form-popup text-dark my-0 font-weight-normal">Пароль почты</h4>
        <a class="close-header-form-popup" href="{% url 'sender:mailing_detail' object.pk %}">
            <img class="icon-close-header-form-popup" src="{% static 'img/close.png' %}"></a>
    </div>
    <form class="form-container" method="post" enctype="multipart/form-data">
        <div class="card-body">
            {% csrf_token %}

            <p>
                <label for="id_new_password1">{{ form.password_from_email.label }}</label>
                <input type="password" name="password_from_email" maxlength="150" class="form-control" required="" id="id_password_from_email">
            </p>
            <div class="form-error text-danger">{{  form.password_from_email.errors }}
            </div>
            <p>
                <label for="id_new_password2">{{ form.new_password2.label }}</label>
                <input type="password" name="new_password2" maxlength="150" class="form-control" required="" id="id_new_password2">
             </p>

            <div class="card-footer border-0 px-0 py-0 bg-transparent">
                <button class="btn btn-outline-success w-50" type="submit">
                    <strong>Сохранить</strong>
                </button>
            </div>
         </div>
    </form>
</div>

