{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мои рассылки</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link type="image/x-icon" href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
</head>
<body class="d-flex flex-column min-vh-100 justify-content-center overflow-y-scroll">

    {% include 'sender/includes/main_menu.html' %}

{% block content %}
{% endblock %}

<footer class="pt-4 px-2 border-top bg-warning mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <span class="text-dark">VDchimp</span>
                <small class="text-dark d-block mb-3">&copy; 2023</small>
            </div>
            <div class="col-7 col-md">
                <h5 class="text-dark">Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-dark" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-5 col-md px-0">
                <h5 class="text-dark">О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-dark" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>