{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}
    {% load sender_tags %}
    {% load sender_filters %}

<head>
  <title>Редактирование рассылки {{ object.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div class="container position-relative form-imitation-popup-parent py-0 mx-0 px-0">
{% include 'sender/includes/mailing_detail_for_mailing_generics.html' %}
    <div class="container my-5 box-shadow card-form-popup text-center border-dark border-dark my-5 px-0" style="max-width: 400px">
        {% include 'sender/forms/mailing_form.html' %}
    </div>
</div>

{% endblock %}