{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}
    {% load sender_tags %}
    {% load sender_filters %}

<head>
  <title>Все рассылки</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>


<div class="container mx-0 py-0 my-0 px-0 mailing-list">
{% include 'sender/includes/mailing_list.html' %}
</div>

<script>
function showSearchedUserCard() {
    const username = document.getElementById("inputSearchUserCards").value.replace(/\s/g,'')
    const divList = document.querySelectorAll('.username-card');
    const titles = []
    divList.forEach(el => {
        titles.push(el.title);
    })
    if (titles.includes(username)) {
        hideUserCards(username)
    } else {
        document.getElementById("inputSearchUserCards").value = 'Пользователь не существует';
        document.getElementById("inputSearchUserCards").style.color = 'red';
    }
}

function hideUserCards(username) {
    const cards = Array.prototype.slice.call(document.getElementsByClassName('username-card'));

    for (let card of cards) {
        if (card.title === username) {
            card.style.display = 'block';
        } else {
            card.style.display = 'none';
        }
    }
}

function resetColor(input) {
    input.style.color = 'black'
    input.value = null
}

function showAllUserCards() {
    const cards = Array.prototype.slice.call(document.getElementsByClassName('username-card'));

    for (let card of cards) {
            card.style.display = 'block';
        }
}
</script>

{% endblock %}