{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}
    {% load user_agents %}
    {% load sender_filters %}

<head>
  <title>Публикации</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-9 col-md-12 col-12">
            <div class="card border-0 mt-5">
                <div class="card-header bg-transparent text-center px-0 py-0">
                    <div class="row">
                        <div class="col-6 px-3">
                            <a class="p-1 btn btn-primary float-end my-2 px-2 {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}w-100
                                                                {% else %}w-50{% endif %}" href="{% url 'sender:create_post' %}">
                                <img src="{% static 'img/pluswhite.png' %}">&nbsp;&nbsp;<strong>Статья</strong>
                            </a>
                        </div>
                         <div class="col-6 px-3">
                            <a class="p-1 btn btn-primary float-start my-2 px-2 {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}w-100
                                                                {% else %}w-50{% endif %}" href="{% url 'sender:update_blog' %}">
                                <img src="{% static 'img/updatewhite.png' %}">&nbsp;&nbsp;<strong>Блог</strong>
                            </a>
                         </div>
                    </div>
                </div>
            {% if object_list %}
              <div class="card-body px-0 py-0">
                <table class="table table-striped table-info mb-0">
                        <thead>
                            <tr class="text-center">
                                {% if request|is_mobile or request.META.HTTP_USER_AGENT|checkuseragentphone %}
                                <th class="col-11" scope="col">Заголовок</th>
                                {% else %}
                                 <th class="col-4" scope="col">Заголовок</th>
                                {% endif %}
                                {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                                <th class="col-8" scope="col">Содержание</th>
                                {% endif %}
                                <th class="col-1" scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr class="{% if object.status == inactive %}table-light
                                       {% else %}table-info
                                       {% endif %}">
                                <td>
                                    <a class="dark-link" href="{% url 'sender:post_detail' object.slug %}">
                                        <p>{{ object.title }}</p>
                                    </a>
                                    {% if object.status == inactive %}
                                        <p class="text-danger"><strong>{{ object.status }}</strong></p>
                                    {% endif %}
                                </td>
                                {% if request|is_pc or request|is_tablet or request.META.HTTP_USER_AGENT|checkuseragenttablet %}
                                <td>{% autoescape off %}{{ object.content|truncatechars_html:200 }}{% endautoescape %}
                                </td>
                                {% endif %}

                                <td>
                                    <a class="img-fluid" href="{% url 'sender:update_post' object.pk %}">
                                        <img class="mb-2" src="{% static "img/update.png" %}" title="Редактировать статью">
                                    </a>
                                    <a class="img-fluid" href="{% url 'sender:delete_post' object.pk %}">
                                        <img src="{% static "img/delete.png" %}" title="Удалить статью">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mt-3 mb-5">
{% include 'sender/includes/pagination.html' %}
</div>

{% endblock %}