{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}
    {% load sender_tags %}
    {% load sender_filters %}

<head>
  <title>Рассылка перезапущена</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>


<div class="container position-relative form-imitation-popup-parent mx-0 py-0">
{% include 'sender/includes/mailing_detail_for_mailing_generics.html' %}
      <div class="card card-form-popup mb-5 box-shadow text-center border-dark mx-2">
            <div class="card-header bg-warning px-0 border-0" style="display: flex;">
                <h4 style="flex-grow: 1" class="text-dark my-0 font-weight-normal">Рассылка перезапущена</h4>
                <a style="margin-left: auto;" href="{% url 'sender:mailing_detail' object.pk %}">
                    <img class="px-0" src="{% static 'img/close.png' %}"></a>
            </div>
        <form class="form-container" method="post" enctype="multipart/form-data">
            <div class="card-body">
                {% csrf_token %}
                <p>Чтобы рассылка началась, добавьте новые письма.
                    Также убедитесь в актуальности установленного времени и графика рассылки.
                    При необходимости - отредактируйте их</p>
            <p></p>
            </div>
            <div class="card-footer bg-transparent border-0 mb-2 px-3">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-outline-danger w-100 px-1 border-1" type="submit"><strong>Удалить</strong></button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary w-100 px-1 border-1" href="{% url 'sender:mailing_detail' object.pk %}"><strong>ОК</strong></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}