{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}

<head>
  <title>Попытки рассылки</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

{% if not object_list %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <p class="lead"><strong>Здесь Вы можете отслеживать, <br>насколько успешно происходят Ваши рассылки</strong></p>
                <p class="lead"><strong>У Вас пока нет запущенных рассылок.</strong></p>

        </div>
    </div>
</div>
{% endif %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
    {% for object in object_list %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card mx-2 border-dark">
                <div class="card-header text-center bg-{% if object.mail_server_respond == 'Письмо успешно отправлено' %}warning{% else %}danger{% endif %}">
                    <h4 class="my-0 font-weight-normal {% if object.mail_server_respond == 'Письмо успешно отправлено' %}dark{% else %}text-white{% endif %}">{{ object.mailing.title }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle">Письмо: {{ object.letter.title }}</h6>
                    <p class="card-text">Дата и время последней попытки: {{ object.date_time_try }}</p>
                    <div class="card-text">
                        <p>Количество попыток: {{ object.count_try }}</p>
                    </div>
                    <div class="card-text">
                        <p>Ответ почтового сервера: "{{ object.mail_server_respond }}"</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}